<h1>Animation CSS (SCSS)</h1>

<div id="transition">
  <h2>Transition</h2>

  <a class="btn" href="https://gauthier-clement.fr" target="_blank"
    >Clément Gauthier</a
  >
</div>

<div id="timing">
  <h2>Timing</h2>

  <div class="div-box">
    <div class="box"></div>
  </div>

  <div id="rythm">
    <div class="jauge">
      <div
        class="ball"
        [ngClass]="pressButtonRythm ? 'press' : 'unpress'"
      ></div>
    </div>
    <div></div>
    <div class="button" (click)="buttonRythm()">Press me!</div>
  </div>
</div>
